<main class="content">
    <div class="container-fluid p-0">
        <h2 class="h3 mb-3">Factories Working <strong>Environment</strong></h2>
        <div class="row">
            <div class="col-xl-12 col-xxl-12 mb-3">
                <div class="d-flex align-items-center w-100 bg-white rounded shadow-xl w-100" id="weather-result"></div>
            </div>
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 1</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 0)}}
                                            {{#with (lookup factoryLastData 0)}}
                                            {{avg_temperature}}&deg;C
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 0)}}
                                            {{#with (lookup factoryLastData 0)}}
                                            {{avg_humidity}}%
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 0)}}
                                            {{#with (lookup factoryLastData 0)}}
                                            {{avg_sound}}dB
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 0)}}
                                            {{#with (lookup factoryLastData 0)}}
                                            {{avg_light}}Lux
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last:
                                            {{#if (gt factoryLastData.length 0)}}
                                            {{#with (lookup factoryLastData 0)}}
                                            {{max_timestamp}}
                                            {{else}}
                                            No Data
                                            {{/with}}</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 2</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 1)}}
                                            {{#with (lookup factoryLastData 1)}}
                                            {{avg_temperature}}&deg;C
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 1)}}
                                            {{#with (lookup factoryLastData 1)}}
                                            {{avg_humidity}}%
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 1)}}
                                            {{#with (lookup factoryLastData 1)}}
                                            {{avg_sound}}dB
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 1)}}
                                            {{#with (lookup factoryLastData 1)}}
                                            {{avg_light}}Lux
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last:
                                            {{#if (gt factoryLastData.length 1)}}
                                            {{#with (lookup factoryLastData 1)}}
                                            {{max_timestamp}}
                                            {{else}}
                                            No Data
                                            {{/with}}</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 3</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 2)}}
                                            {{#with (lookup factoryLastData 2)}}
                                            {{avg_temperature}}&deg;C
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 2)}}
                                            {{#with (lookup factoryLastData 2)}}
                                            {{avg_humidity}}%
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 2)}}
                                            {{#with (lookup factoryLastData 2)}}
                                            {{avg_sound}}dB
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 2)}}
                                            {{#with (lookup factoryLastData 2)}}
                                            {{avg_light}}Lux
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last:
                                            {{#if (gt factoryLastData.length 2)}}
                                            {{#with (lookup factoryLastData 2)}}
                                            {{max_timestamp}}
                                            {{else}}
                                            No Data
                                            {{/with}}</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 4</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 3)}}
                                            {{#with (lookup factoryLastData 3)}}
                                            {{avg_temperature}}&deg;C
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 3)}}
                                            {{#with (lookup factoryLastData 3)}}
                                            {{avg_humidity}}%
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 3)}}
                                            {{#with (lookup factoryLastData 3)}}
                                            {{avg_sound}}dB
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                        <h3 class="col mt-1 mb-3">
                                            {{#if (gt factoryLastData.length 3)}}
                                            {{#with (lookup factoryLastData 3)}}
                                            {{avg_light}}Lux
                                            {{else}}
                                            No Data
                                            {{/with}}
                                            {{/if}}
                                        </h3>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last:
                                            {{#if (gt factoryLastData.length 3)}}
                                            {{#with (lookup factoryLastData 3)}}
                                            {{max_timestamp}}
                                            {{else}}
                                            No Data
                                            {{/with}}</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-7">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Measure Today</h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="row align-items-center justify-content-between pb-3">
                            <div class="col-auto">
                                <input type="radio" class="btn-check" name="options-outlined" id="factory1-chart"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="factory1-chart">Factory 1</label>

                                <input type="radio" class="btn-check" name="options-outlined" id="factory2-chart"
                                    autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="factory2-chart">Factory 2</label>

                                <input type="radio" class="btn-check" name="options-outlined" id="factory3-chart"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="factory3-chart">Factory 3</label>

                                <input type="radio" class="btn-check" name="options-outlined" id="factory4-chart"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="factory4-chart">Factory 4</label>
                            </div>
                            <div class="col-auto ms-auto">
                                <div class="input-group date">
                                    <input type="text" name="time" id="chart-time" class="form-control"
                                        placeholder="Date">
                                    <button type="submit" class="btn btn-primary" id="btnViewChart"><i
                                            class="bi bi-funnel"></i>
                                        View</button>
                                </div>
                            </div>
                        </div>
                        <div class="chart chart-sm">
                            <canvas id="chartjs-dashboard-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Details Data</h5>
                    </div>
                    <div>
                        <form method="GET" id="filterForm" class="row g-3 p-2">
                            <!-- Factory Filter -->
                            <div class="col-md-3">
                                <label for="factory" class="form-label">Factory</label>
                                <select name="factory" id="factory" class="form-select">
                                    <option value="" selected>All</option>
                                    <option value="F1">Factory 1</option>
                                    <option value="F2">Factory 2</option>
                                    <option value="F3">Factory 3</option>
                                    <option value="F4">Factory 4</option>
                                </select>
                            </div>

                            <!-- Location Filter -->
                            <div class="col-md-3">
                                <label for="location" class="form-label">Location</label>
                                <select name="location" id="location" class="form-select">
                                    <option value="">All</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="sensor-select" class="form-label">Sensor</label>
                                <select name="sensor-select" id="sensor-select" class="form-select">
                                    <option value="" selected>All</option>
                                </select>
                            </div>

                            <!-- Date Filter -->
                            <div class="col-md-3">
                                <label for="time" class="form-label">Date (dd/mm/yyyy)</label>
                                <div class="input-group date">
                                    <input type="text" name="time" id="time" class="form-control" placeholder="Date">
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i>
                                        Filter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="p-2">
                        <a href="javascript:void(0)" onclick="exportExcel()" class="btn btn-success">
                            <i class="fas fa-file-excel"></i> Export to Excel
                        </a>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="d-none d-xl-table-cell">Sensor ID</th>
                                <th class="d-none d-xl-table-cell">Factory</th>
                                <th class="d-none d-xl-table-cell">Location</th>
                                <th class="d-none d-md-table-cell">Temperature(&deg;C)</th>
                                <th class="d-none d-md-table-cell">Humidity(%)</th>
                                <th class="d-none d-md-table-cell">Sound(dB)</th>
                                <th class="d-none d-md-table-cell">Light(Lux)</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {{#each details}}
                            <tr>
                                <td>{{increment @index}}</td>
                                <td class="d-none d-xl-table-cell">{{sensor_id}}</td>
                                <td class="d-none d-xl-table-cell">{{factory}}</td>
                                <td class="d-none d-xl-table-cell">{{location}}</td>
                                <td class="d-none d-md-table-cell">{{temperature}}</td>
                                <td class="d-none d-md-table-cell">{{humidity}}</td>
                                <td class="d-none d-md-table-cell">{{sound}}</td>
                                <td class="d-none d-md-table-cell">{{light}}</td>
                                <td class="d-none d-md-table-cell">{{timestamp}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- Pagination Buttons -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mt-3" id="pagination">
                            <!-- Previous Button -->
                            {{#if (gt currentPage 1)}}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{sub currentPage 1}}">&laquo;</a>
                            </li>
                            {{/if}}

                            <!-- First Page -->
                            <li class="page-item {{#if (eq 1 currentPage)}}active{{/if}}">
                                <a class="page-link" href="#" data-page="1">1</a>
                            </li>

                            <!-- Left Ellipsis -->
                            {{#if (gt currentPage 4)}}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {{/if}}

                            <!-- Page Numbers Around Current -->
                            {{#each (range (max 2 (sub currentPage 2)) (min totalPages (add currentPage 2)))}}
                            <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                                <a class="page-link" href="#" data-page="{{this}}">{{this}}</a>
                            </li>
                            {{/each}}

                            <!-- Right Ellipsis -->
                            {{#if (lt currentPage (sub totalPages 3))}}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {{/if}}

                            <!-- Last Page -->
                            {{#if (gt totalPages 1)}}
                            <li class="page-item {{#if (eq totalPages currentPage)}}active{{/if}}">
                                <a class="page-link" href="#" data-page="{{totalPages}}">{{totalPages}}</a>
                            </li>
                            {{/if}}

                            <!-- Next Button -->
                            {{#if (lt currentPage totalPages)}}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{add currentPage 1}}">&raquo;</a>
                            </li>
                            {{/if}}
                            <li class="page-item">
                                <input type="number" id="gotoPage" min="1" max="{{totalPages}}" class="form-control"
                                    placeholder="Page"
                                    style="width: 80px; margin-left: 20px; display: inline-block; text-align: center;">
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                <div class="card flex-fill" style="height: 500px;">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Calendar</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart">
                                <div id="datetimepicker-dashboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">

                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Browser Usage</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas id="chartjs-dashboard-pie"></canvas>
                                </div>
                            </div>

                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Chrome</td>
                                        <td class="text-end">4306</td>
                                    </tr>
                                    <tr>
                                        <td>Firefox</td>
                                        <td class="text-end">3801</td>
                                    </tr>
                                    <tr>
                                        <td>IE</td>
                                        <td class="text-end">1689</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Real-Time</h5>
                    </div>
                    <div class="card-body px-4">
                        <div id="world_map" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Monthly Sales</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas id="chartjs-dashboard-bar"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script src="/js/sensor_chart.js"></script>
<script>
    $(document).ready(function () {
        $("#factory").change(function () {
            let factory = $(this).val();
            loadSensorSelection(factory);
        });

        loadSensorSelection("");// load first

        function loadSensorSelection(factory) {
            $("#location").html('<option value="">All</option>'); // Reset locations
            $("#sensor-select").html('<option value="">All</option>'); // Reset sensors

            $.ajax({
                url: "/sensors/search",
                type: "GET",
                data: { factory: factory },
                dataType: "json",
                success: function (response) {
                    if (response.sensors) {
                        $.each(response.sensors, function (index, sensor) {
                            $("#sensor-select").append(`<option value="${sensor.sensor_id}">${sensor.sensor_id}</option>`);
                        });
                    }
                },
                error: function () {
                    console.error("Error fetching locations.");
                }
            });
        }

        $('#time').datepicker({
            format: 'dd/mm/yyyy', // Format to match your filter
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', new Date());

        $("#filterForm").submit(function (e) {
            e.preventDefault(); // Prevent page reload
            loadPage(1);
        });

        function createPageItem(page, currentPage) {
            return `<li class="page-item ${page === currentPage ? 'active' : ''}">
                <a class="page-link" href="#" data-page="${page}">${page}</a>
            </li>`;
        }

        function createPageNumber(pageId, currentPage, totalPages) {
            const pagination = $("#" + pageId); // Ensure #pagination exists
            pagination.empty();

            // Previous Button
            if (currentPage > 1) {
                pagination.append(`<li class="page-item">
                    <a class="page-link" href="#" data-page="${currentPage - 1}">&laquo;</a>
                </li>`);
            }

            // First Page
            pagination.append(createPageItem(1, currentPage));

            // Left Ellipsis (if needed)
            if (currentPage > 4) {
                pagination.append(`<li class="page-item disabled"><span class="page-link">...</span></li>`);
            }

            // Page Numbers Around Current
            const startPage = Math.max(2, currentPage - 2);
            const endPage = Math.min(totalPages - 1, currentPage + 2);

            for (let i = startPage; i <= endPage; i++) {
                pagination.append(createPageItem(i, currentPage));
            }

            // Right Ellipsis (if needed)
            if (currentPage < totalPages - 3) {
                pagination.append(`<li class="page-item disabled"><span class="page-link">...</span></li>`);
            }

            // Last Page
            if (totalPages > 1) {
                pagination.append(createPageItem(totalPages, currentPage));
            }

            // Next Button
            if (currentPage < totalPages) {
                pagination.append(`<li class="page-item">
               <a class="page-link" href="#" data-page="${currentPage + 1}">&raquo;</a>
               </li>`);
            }

            // Add "Go to Page" Input
            pagination.append(`
                <li class="page-item">
                    <input type="number" id="gotoPage" min="1" max="${totalPages}" class="form-control" 
                           placeholder="Page" style="width: 80px; margin-left: 20px; display: inline-block; text-align: center;">
                </li>
            `);

            // Rebind click event after updating pagination
            $(".page-link").click(function (event) {
                event.preventDefault();
                let page = $(this).data("page");
                loadPage(page);
            });

            $("#gotoPage").keypress(function (e) {
                if (e.which === 13) { // Enter key
                    let page = parseInt($(this).val());
                    let minPage = parseInt($(this).attr("min"), 10);
                    let maxPage = parseInt($(this).attr("max"), 10);
                    if (page >= minPage && page <= maxPage) {
                        loadPage(page); // Function to load the selected page
                    } else {
                        alert("Invalid page number!");
                    }
                }
            });
        }

        function loadPage(page) {
            console.log('loadPage', page);

            let factory = $("#factory").val();
            let location = $("#location").val();
            let sensor_id = $("#sensor-select").val();
            let time = $("#time").val();

            $.ajax({
                url: `/dashboard/filter`,
                method: "GET",
                data: { factory, location, sensor_id, time, page },
                dataType: "json",
                success: function (response) {
                    let tableBody = $("#tableBody");
                    let pagination = $("#pagination");

                    // Clear old data
                    tableBody.empty();
                    pagination.empty();

                    // Populate table with new data
                    response.details.forEach((item, index) => {
                        tableBody.append(`
                        <tr>
                            <td>${(response.currentPage - 1) * response.limit + index + 1}</td>
                            <td class="d-none d-xl-table-cell">${item.sensor_id}</td>
                            <td class="d-none d-xl-table-cell">${item.factory}</td>
                            <td class="d-none d-xl-table-cell">${item.location}</td>
                            <td class="d-none d-md-table-cell">${item.temperature}</td>
                            <td class="d-none d-md-table-cell">${item.humidity}</td>
                            <td class="d-none d-md-table-cell">${item.sound}</td>
                            <td class="d-none d-md-table-cell">${item.light}</td>
                            <td class="d-none d-md-table-cell">${item.timestamp}</td>
                        </tr>
                    `);
                    });

                    // Create pagination buttons
                    createPageNumber('pagination', response.currentPage, response.totalPages);
                }
            });

        }

        // Handle Pagination Clicks
        $(document).on("click", ".page-link", function (event) {
            event.preventDefault();
            let page = $(this).data("page");
            loadPage(page);
        });

        // Handle "Enter" Key Press
        $("#gotoPage").on("keypress", function (e) {
            console.log('keypress', $(this).min, $(this).max, e.which)
            if (e.which === 13) { // Enter key
                let page = parseInt($(this).val());
                let minPage = parseInt($(this).attr("min"), 10);
                let maxPage = parseInt($(this).attr("max"), 10);
                if (page >= minPage && page <= maxPage) {
                    loadPage(page); // Function to load the selected page
                } else {
                    alert("Invalid page number!");
                }
            }

        });
    });
    function exportExcel() {
        let factory = $("#factory").val();
        let location = $("#location").val();
        let sensor_id = $("#sensor-select").val();
        let time = $("#time").val();

        console.log("Exporting...");

        // Construct query string
        let queryString = $.param({ factory, location, sensor_id, time });

        // Trigger file download
        window.location.href = `/dashboard/export-excel?${queryString}`;
    }
</script>
<script>
    $(document).ready(function () {
        $('#chart-time').datepicker({
            format: 'dd/mm/yyyy', // Format to match your filter
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', new Date());

        $("#btnViewChart").click(function (e) {
            e.preventDefault(); // Prevent page reload
            let selectedFactory = document.querySelector('input[name="options-outlined"]:checked').id;
            let factory = selectedFactory.replace('factory', 'F').replace('-chart', '');
            let time = $("#chart-time").val() || new Date().toLocaleDateString("en-GB");
            getDataChart(factory, time);
        });

        loadWeather();
    });

    function loadWeather() {
        $.ajax({
            url: `/weather`,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $("#weather-result").html(`
                    <div class="me-3">
                        <img src="https://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png" alt="Weather Icon" className="me-3" />
                    </div>
                    <div class="me-3 mr-3">
                        <h1>${data.main.temp}&deg;C</h1>
                    </div>
                    <div class="text-start">
                        <p class="mb-0" style="font-size: small;">${data.weather[0].main}</p>
                        <p class="mb-0" style="font-size: small;">Humidity: ${data.main.humidity}%</p>
                        <p class="mb-0" style="font-size: small;">Wind: ${(data.wind.speed * 3.6).toFixed(2)} km/h</p>
                    </div>
                        `);
            },
            error: function () {
                $("#result").text("Error fetching weather data.");
            }
        });
    }

    let sensorChart;
    function getDataChart(factory, time) {
        $.ajax({
            url: `/api/chart-data`,
            method: 'GET',
            data: { factory, time },
            dataType: "json",
            success: function (response) {
                const { labels, temperatures, humidities, sounds, lights } = response;
                if (sensorChart) {
                    sensorChart.destroy();
                }
                sensorChart = createSensorDataLineChart("chartjs-dashboard-line", labels, temperatures, humidities, sounds, lights);
            }
        });
    }

    document.querySelectorAll('input[name="options-outlined"]').forEach((radio) => {
        radio.addEventListener('change', function () {
            let factory = this.id.replace('factory', 'F').replace('-chart', '');
            let time = $("#chart-time").val();  // You can dynamically set this
            getDataChart(factory, time);
        });
    });

    // Initial call for the checked radio button
    document.querySelector('input[name="options-outlined"]:checked').dispatchEvent(new Event('change'));
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var date = new Date(Date.now());
        var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span title=\"Previous month\">&laquo;</span>",
            nextArrow: "<span title=\"Next month\">&raquo;</span>",
            defaultDate: defaultDate
        });
    });
</script>