<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 1</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h1 class="col mt-1 mb-3">32&deg;C</h1>
                                        <h1 class="col mt-1 mb-3">85%</h1>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last: 12:30 12/03/2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 2 </h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h1 class="col mt-1 mb-3">30&deg;C</h1>
                                        <h1 class="col mt-1 mb-3">82%</h1>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last: 12:30 12/03/2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 3</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h1 class="col mt-1 mb-3">31&deg;C</h1>
                                        <h1 class="col mt-1 mb-3">80%</h1>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last: 12:30 12/03/2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Factory 4</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle" data-feather="home"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h1 class="col mt-1 mb-3">29&deg;C</h1>
                                        <h1 class="col mt-1 mb-3">75%</h1>
                                    </div>
                                    <div class="mb-0">
                                        <span class="text-muted">Last: 12:30 12/03/2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-xxl-7">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Measure Today</h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="chart chart-sm">
                            <canvas id="chartjs-dashboard-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
                    var gradient = ctx.createLinearGradient(0, 0, 0, 225);
                    gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
                    gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
                    var labels = [];
                    var temperatures = [];
                    var humidity = [];
                    function getRndInteger(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    for (var i = 0; i < 24; i++) {
                        labels.push(i + "h");
                        temperatures.push(getRndInteger(20, 35));
                        humidity.push(getRndInteger(70, 85));
                    }
                    // Line chart
                    new Chart(document.getElementById("chartjs-dashboard-line"), {
                        type: "line",
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Temperature (&deg;C)",
                                fill: true,
                                backgroundColor: gradient,
                                borderColor: 'red',
                                data: temperatures
                            },
                            {
                                label: "Humidity (%)",
                                fill: true,
                                backgroundColor: gradient,
                                borderColor: window.theme.primary,
                                data: humidity
                            },
                            ]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: false
                            },
                            tooltips: {
                                intersect: false
                            },
                            hover: {
                                intersect: true
                            },
                            plugins: {
                                filler: {
                                    propagate: false
                                }
                            },
                            scales: {
                                xAxes: [{
                                    reverse: true,
                                    gridLines: {
                                        color: "rgba(0,0,0,0.0)"
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        stepSize: 1000
                                    },
                                    display: true,
                                    borderDash: [3, 3],
                                    gridLines: {
                                        color: "rgba(0,0,0,0.0)"
                                    }
                                }]
                            }
                        }
                    });
                });
            </script>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Browser Usage</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas id="chartjs-dashboard-pie"></canvas>
                                </div>
                            </div>

                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Chrome</td>
                                        <td class="text-end">4306</td>
                                    </tr>
                                    <tr>
                                        <td>Firefox</td>
                                        <td class="text-end">3801</td>
                                    </tr>
                                    <tr>
                                        <td>IE</td>
                                        <td class="text-end">1689</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Real-Time</h5>
                    </div>
                    <div class="card-body px-4">
                        <div id="world_map" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                <div class="card flex-fill">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Calendar</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart">
                                <div id="datetimepicker-dashboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Details Data</h5>
                    </div>
                    <div>
                        <form method="GET" action="/dashboard/search" class="row g-3 mb-4 p-2">
                            <!-- Factory Filter -->
                            <div class="col-md-3">
                                <label for="factory" class="form-label">Factory</label>
                                <select name="factory" id="factory" class="form-select">
                                    <option value="">All</option>
                                    <option value="Factory 1">Factory 1</option>
                                    <option value="Factory 2">Factory 2</option>
                                    <option value="Factory 3">Factory 3</option>
                                    <option value="Factory 4">Factory 4</option>
                                </select>
                            </div>

                            <!-- Location Filter -->
                            <div class="col-md-3">
                                <label for="location" class="form-label">Location</label>
                                <select name="location" id="location" class="form-select">
                                    <option value="">All</option>
                                    <option value="Zone1">Zone1</option>
                                    <option value="Zone2">Zone2</option>
                                    <option value="Zone3">Zone3</option>
                                    <option value="Zone4">Zone4</option>
                                </select>
                            </div>

                            <!-- Date Filter -->
                            <div class="col-md-4">
                                <label for="time" class="form-label">Date (dd/mm/yyyy)</label>
                                <div class="input-group date">
                                    <input type="text" name="time" id="time" class="form-control"
                                        placeholder="Date">
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i>
                                        Filter</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th class="d-none d-xl-table-cell">Factory</th>
                                <th class="d-none d-xl-table-cell">Location</th>
                                <th class="d-none d-md-table-cell">Temperature</th>
                                <th class="d-none d-md-table-cell">Humidity</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each details}}
                            <tr>
                                <td>{{id}}</td>
                                <td class="d-none d-xl-table-cell">{{factory}}</td>
                                <td class="d-none d-xl-table-cell">{{location}}</td>
                                <td class="d-none d-md-table-cell">{{temperature}}</td>
                                <td class="d-none d-md-table-cell">{{humidity}}</td>
                                <td class="d-none d-md-table-cell">{{timestamp}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Monthly Sales</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas id="chartjs-dashboard-bar"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    $(document).ready(function () {
        $('#time').datepicker({
            format: 'dd/mm/yyyy', // Format to match your filter
            autoclose: true,
            todayHighlight: true
        });
    });
</script>