<main class="content">
    <div class="container-fluid p-0">
        <h2 class="h3 mb-3">Workshop 2 Machine Config</h2>
        <div class="row">
            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Details Data</h5>
                        </div>
                        <div class="p-2">
                            <a href="javascript:void(0)" onclick="exportExcel()" class="btn btn-success">
                                <i class="fas fa-file-excel"></i> Export to Excel
                            </a>
                        </div>
                        <table class="table table-hover my-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="d-none d-xl-table-cell">Sensor ID</th>
                                    <th class="d-none d-xl-table-cell">Machine No</th>
                                    <th class="d-none d-xl-table-cell">Line</th>
                                    <th class="d-none d-md-table-cell">Note</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                {{#each details}}
                                <tr>
                                    <td>{{increment @index}}</td>
                                    <td class="d-none d-xl-table-cell">{{sensor_id}}</td>
                                    <td class="d-none d-xl-table-cell">{{machine_id}}</td>
                                    <td class="d-none d-xl-table-cell">{{line}}</td>
                                    <td class="d-none d-md-table-cell">{{note}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <!-- Pagination Buttons -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mt-3" id="pagination">
                                <!-- Previous Button -->
                                {{#if (gt currentPage 1)}}
                                <li class="page-item">
                                    <a class="page-link" href="#" data-page="{{sub currentPage 1}}">&laquo;</a>
                                </li>
                                {{/if}}

                                <!-- First Page -->
                                <li class="page-item {{#if (eq 1 currentPage)}}active{{/if}}">
                                    <a class="page-link" href="#" data-page="1">1</a>
                                </li>

                                <!-- Left Ellipsis -->
                                {{#if (gt currentPage 4)}}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                {{/if}}

                                <!-- Page Numbers Around Current -->
                                {{#each (range (max 2 (sub currentPage 2)) (min totalPages (add currentPage 2)))}}
                                <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                                    <a class="page-link" href="#" data-page="{{this}}">{{this}}</a>
                                </li>
                                {{/each}}

                                <!-- Right Ellipsis -->
                                {{#if (lt currentPage (sub totalPages 3))}}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                {{/if}}

                                <!-- Last Page -->
                                {{#if (gt totalPages 1)}}
                                <li class="page-item {{#if (eq totalPages currentPage)}}active{{/if}}">
                                    <a class="page-link" href="#" data-page="{{totalPages}}">{{totalPages}}</a>
                                </li>
                                {{/if}}

                                <!-- Next Button -->
                                {{#if (lt currentPage totalPages)}}
                                <li class="page-item">
                                    <a class="page-link" href="#" data-page="{{add currentPage 1}}">&raquo;</a>
                                </li>
                                {{/if}}
                                <li class="page-item">
                                    <input type="number" id="gotoPage" min="1" max="{{totalPages}}" class="form-control"
                                        placeholder="Page"
                                        style="width: 80px; margin-left: 20px; display: inline-block; text-align: center;">
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>